html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

body {
    background-color: #363636;
    background: linear-gradient(#394e4f, #494949);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

.inici {
    display: flex;
    flex-direction: column;
    height: 89vh;
    align-items: center;
    justify-content: center;
}

@media (min-width: 426px) {
    .inici {
        height: 100vh;
    }
}

.button {
    transition: all .3s ease-in-out;
    filter: brightness(0.95);
}
.button:hover {
    transform: scale(1.1); 
    filter: brightness(1.1);
}

#icon {
    width: 12em;
}


.slogan {
    font-size: 2em;
}

.team_fabs {
    margin-bottom: 65px;
    display: none;
}

.bottom_ico, .team_fabs {
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0;
}

.icon_action {
    margin-bottom: 0.4em;
}

#team {
    left: 0;
    margin-left: 0.5em;
}

.team_image {
    filter: drop-shadow(2.5px 2.5px 5px rgba(22, 22, 22, 0.425));
}

.shadow {
    filter: drop-shadow(2.5px 2.5px 5px rgba(22, 22, 22, 0.274));
}

#contact {
    right: 0;
    margin-right: 0.5em;
}
#team>img, .team_fabs>img, #contact>img {
    max-width: 3.3em;
}

.social_icons>img {
    max-width: 2em;
    margin: 2px;
}
.social_icons {
    margin-top: 5px;
    position: fixed;
    right: 5px;
}

#clock {
    font-size: 1.3em;
    margin-top: 2em;
        transition: all .4s ease-in-out;
}

#clock:hover {
    transform: rotate(2deg);
}

.inline>p{
    display: inline;
    clear: both;
}

.cta {
    margin-top: 1em;
    width: 13em;
    height: 3.2em;
    background-color: white;
    border-radius: 2em;
}

.cta>p {
    margin: 0.75em;
    color: #494949;
    font-size: 1.1em;
    
}