html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #344250;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

.inici {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
}

#team {
    width: 100px;
}
#contact {
    width: 100px;
}

.change-my-color path {
    fill: green;
}

#slogan {
    font-size: 2em;
}