html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #363636;
    background: linear-gradient(#394e4f, #494949);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

.inici {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#icon {
    width: 12em;
}


.slogan {
    font-size: 2em;
}

.bottom_ico {
    position: fixed;
    bottom: 0;
    margin-bottom: 0.3em;
}

#team {
    left: 0;
    margin-left: 0.5em;
}
#contact {
    right: 0;
    margin-right: 0.5em;
}
#team>img, #contact>img {
    max-width: 3.3em;
}

#clock {
    font-size: 1.2em;
    padding-top: 2em;
}

.inline>p{
    display: inline;
    clear: both;
}